$header-color: black;
$header-bg: lightgreen;
$header-second-color: black;

body > header {
	color: $header-color;
	background: $header-bg;
	border-bottom: 0 none;


	h1 {
		margin: 0;
		text-align: center;
	}

	h2 {
		color: $header-second-color;
	}
}

body > nav:not([hidden]) {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	position: relative;
	background: honeydew;
	border-bottom: 1px solid black;

	> *:not([hidden]) {
		display: block;
	}

	a {
		@extend a:link;
		cursor: pointer;
		color: blue;
	}

	> li > ul {
		position: absolute;
		top: 100%;
		left: 50%;
		background: honeydew;
		padding: 6px 15px 6px calc(15px + 1rem);
		min-width: 50%;
		max-width: 100%;
		color: black;
		border: 1px solid black;
		border-top: 0 none;
		list-style: disc;
		transform: translateX(-50%) scaleY(1);

		&[hidden] {
			transform: translateX(-50%) scaleY(0);
		}
	}

	ul {
		margin: 0;
	}

	li:not(:last-child) > ul {
		margin-bottom: 1rem;
	}

	ul li:not(:last-child) > ul {
		margin-top: 0.5rem;
	}

	$transition-time: 750ms;

	ul {
		max-height: 50vh;
		transition: background 500ms, transform #{$transition-time}, max-height #{$transition-time} linear, visibility #{$transition-time} step-start;
		transform-origin: top center;
		transform: scaleY(1);
		overflow: hidden;
		margin: 0;

		&[hidden] {
			display: block;
			visibility: hidden;
			transition: background 500ms, transform #{$transition-time}, max-height #{$transition-time} linear, visibility #{$transition-time} step-end;
			transform: scaleY(0);
		}

		ul[hidden] {
			max-height: 0;
		}
	}
}
