[y-section="etcsl"] {
	.proper {
		color: green;
	}

	main {
		counter-reset: column;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;

		h1 {
			text-align: center;
		}
	}

	ol::before {
		display: block;
		font-weight: bold;
		font-size: 1.2em;
		counter-increment: column;
		content: "Column " counter(column);
	}

	main li {
		font-size: 1rem;
	}

	li[value="0"] {
		list-style: none;
	}

	ruby > rtc:lang(en) {
		display: inline-block;
		font-size: 0.8em;
		vertical-align: middle;

		&::before {
			display: inline;
			content: "\a0(";
		}

		&::after {
			display: inline;
			content: ")";
		}
	}

	aside {
		display: flex;
		flex-flow: row wrap;

		> * {
			display: block;
			max-width: 250px;
		}
	}
}
