:root {
	font-family: 'Trebuchet MS', 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

header h1 {
	margin-bottom: 0.7rem;
	margin-top: 0;
	text-align: center;
}
header { border-bottom: 2px solid grey; }

a:link,
a:visited {
	text-decoration: none;
	color: blue;
}
a:link:focus,
a:link:hover,
a:link:active,
a:visited:focus,
a:visited:hover,
a:visited:active {
	text-decoration: underline;
}

.proper { color: green; }
main { counter-reset: column; }

ol::before {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	counter-increment: column;
	content: "Column " counter(column);
}
main li { font-size: 1rem; }
li[value="0"] { list-style: none; }

ruby > rt:lang(en) {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: middle;
}
ruby > rt:lang(en)::before {
	display: inline;
	content: '\a0(';
}
ruby > rt:lang(en)::after {
	display: inline;
	content: ')';
}
