body[y-section="home"] {
	> nav:not([hidden]) [href="."] {
		display: none;
	}

	h2 {
		text-align: center;
	}

	> footer,
	> nav {
		order: 1;
	}

	> nav:not([hidden]) {
		background: none;
		flex-grow: 1;
		display: block;

		ul,
		ul[hidden],
		> li > ul,
		> li > ul[hidden] {
			transition-delay: 300ms;
			position: static;
			transform: none;
			max-height: none;
			background: inherit;
			border: 0 none;
			transition: none;
		}

		a:not([href]) {
			color: inherit;
			cursor: auto;

			&:hover {
				text-decoration: none;
			}
		}
	}

	> main {
		flex-grow: 0;
		order: 0;
	}
}
